body{
  font-family: Arial;
  margin: 50px;
  background-color: #a8f;
}
.cont{
background: #fff;
border-radius: 5px;
padding: 20px;
max-width: 550px;
max-height: 500px;
position: absolute;
bottom: 0;
right: 0;
top: 0;
left: 0;
margin: auto;
}
a{
  display: flex;
  padding: 15px;
  font-size: 18px;
  color: #022C43;
}
h1{
  padding: 15px;
  text-align: center;
}
.ex{
  display: grid;
  grid-template-columns: 1fr 1fr;
}