.bicicleta{
  height: 600px;
  background-color: lightblue;
  background-image: url("./bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
}
h1{
  margin: auto;
  background-color: white;
  padding: 1rem 2rem;
}